name: Agents

on:
  push:
    branches: ["main", "develop"]
    paths:
      - "src/agents/**"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  gen-matrix:
    environment: |-
      ${{
        github.ref_name == 'main' && 'prod'
      || github.ref_name == 'develop'    && 'dev'
      ||                                'dev'
      }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get changed files
        id: diff
        uses: tj-actions/changed-files@v41
        with:
          files: src/agents/**
          dir_names: true
      - name: Generate agents matrix
        uses: actions/github-script@v7
        id: generator
        env:
          ALL_CHANGED_FILES: ${{ steps.diff.outputs.all_changed_files }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const method = "${{ github.event_name }}"
            if (method === "workflow_dispatch" || process.env.ALL_CHANGED_FILES === 'src/agents') {
              const fs = require('fs');
              const path = require('path');
              const agentsPath = path.join(process.cwd(), 'src', 'agents');
              const agents = fs.readdirSync(agentsPath)
                            .filter(file => fs.statSync(path.join(agentsPath, file)).isDirectory());
              return { agents };
            }
            const all_changed_files = process.env.ALL_CHANGED_FILES.split(" ")
            const agentSet = new Set(all_changed_files.filter(file => file.includes("src/agents/")).map(file => file.split("/")[2]))
            const uniqueFunctionsArray = [...agentSet]

            return uniqueFunctionsArray.length ? { agents: uniqueFunctionsArray } : null
    outputs:
      matrix: ${{ steps.generator.outputs.result }}

  build-agent:
    if: ${{ fromJson(needs.gen-matrix.outputs.matrix) }}
    needs: gen-matrix
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: |-
      ${{
        github.ref_name == 'main' && 'prod'
      || github.ref_name == 'develop'    && 'dev'
      ||                                'dev'
      }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.gen-matrix.outputs.matrix) }}
    steps:
      - name: Get short node version
        uses: actions/github-script@v7
        id: logger
        with:
          script: |
            console.log("${{ matrix.agents }}")
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .
          push: true
          file: ./src/agents/Dockerfile
          tags: ghcr.io/${{ github.repository_owner }}/agents/${{ matrix.agents }}:${{ github.sha }}
          build-args: |
            AGENT=${{ matrix.agents }}

  push-agent:
    if: ${{ fromJson(needs.gen-matrix.outputs.matrix) }}
    needs:
      - build-agent
      - gen-matrix
    name: push-agent
    runs-on: ubuntu-latest
    timeout-minutes: 60
    environment: |-
      ${{
        github.ref_name == 'main' && 'prod'
      || github.ref_name == 'develop'    && 'dev'
      ||                                'dev'
      }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.gen-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: pip
      - name: Install dependencies
        run: |
          pip install uv
          cp src/agents/${{ matrix.agents }}/pyproject.toml .
          uv sync
      - name: Push agent
        env:
          STORE_URL: ${{ vars.STORE_URL }}
          ADMIN_USERNAME: ${{ secrets.STORE_ADMIN_USERNAME }}
          ADMIN_PASSWORD: ${{ secrets.STORE_ADMIN_PASSWORD }}
          IMAGE: ghcr.io/${{ github.repository_owner }}/agents/${{ matrix.agents }}:${{ github.sha }}
          PACKAGE_TYPE: agents
          PACKAGE_NAME: ${{ matrix.agents }}
        run: |
          . .venv/bin/activate
          python scripts/push_to_store.py
